* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0f0f19;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
}
